<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta content="text/html, charset=utf-8">
        <title>Jonathan's stock emporium</title>

        <link rel="stylesheet" href="../static/css/breakdown.css?q=1280549780" type="text/css"/>
        <!-- Scroll Reveal-->
        <script src="https://unpkg.com/scrollreveal"></script>
    </head>
    <body>
    <header>
        <nav>
            <ul>
                <li class="predictor" id="predictor"><a href="">home</a></li>
                <li>NASDAQ: {{ nas }} ({{ nas_pct }})</li>
                <li>S&P 500: {{ snp }} ({{snp_pct}})</li>
                <li>DOW 30:  {{ dow }} ({{ dow_pct}})</li>
            </ul>
        </nav>
    </header>
    <div class="main-container">
        <div id="companyName">
            <h1 id="stock-name"> tomorrow's forecast for <br> {{ name }} ({{ title }})</h1>
        </div>
        <div class="prediction">
            <h1>High: {{ High }}</h1>
        </div>
        <div class="prediction">
            <h1>Low: {{ Low }}</h1>
        </div>
        <div class="prediction">
            <h1>Close: {{ Close }}</h1>
        </div>
        <div id="babyBlue">
            <a href="#section2" id="click-scroll"><p>breakdown<p></a>
        </div>
    </div>
    <div id="section2">
        <button onclick="renderChart(1)"><h1>1 day</h1></button>
        <button onclick="renderChart(3)"><h1>3 month</h1></button>
        <button onclick="renderChart(365)"><h1>1 year</h1></button>
    </div>
    <div id="section3">
        <canvas id="stockChart" width="40" height="17"></canvas>
    </div>
    <br>
    <br>
    
    <div class="bottom-container">
        <div id="NewsScore">
            <h1>news article polarity</h1>
            {% if news!= none %}
            <h2 class="content">{{ news }}</h2>
            {% else %}
            <h2 class="content">n/a</h2>
            {% endif %}
        </div>
        <!-- ### BUTTON TO SCROLL TO TOP ###-->
        <button onclick="topFunction()" id="topButton" title="Go to top">Top</button>
        <div id="tweet-score">
            <h1>twitter polarity</h1>
            {% if tweets != none %}
            <h1 class="content">{{ tweets }}</h1>
            {% else %}
            <h1 class="content">n/a</h1>
            {% endif %}
        </div>
        <div id="fif2">
            <h1>Fifty-two week summary</h1>
            <div id="high">
                <h2>Highest</h2>
                <h2>{{ fif2hi }}</h2>
            </div>
            <div id="low">
                <h2>Lowest</h2>
                <h2>{{ fif2low }}</h2>
            </div>
            <div id="close">
                <h2>Change</h2>
                <h2>{{ fif2change }}</h2>
            </div>
        </div>
        <div id="last-fisc">
            <h1>Profit margin</h1>
            <h2 class="content">{{ margin }}</h2>
        </div>
        <div id="market-cap">
            <h1>Market Cap</h1>
            <h2 class="content">{{ cap }}</h2>
        </div>
    </div>
    <footer>
        <nav>
            <li><a href="https://www.linkedin.com/in/jonathan-colaco-carr-8959ab180/">linkedin</a></li>
            <li><a href="https://medium.com/mcgill-artificial-intelligence-review">medium</a></li>
            <li><a href="https://github.com/j-c-carr/Stock-Analysis">gitHub</a></li>
        </nav>
    </footer>
    <script>
        ScrollReveal().reveal('.prediction');
        ScrollReveal().reveal('.fiftytwo');
        ScrollReveal().reveal('.article');
    </script>
    <!-- Imports for charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Top Button scroll -->
    <script src="../static/js/scrollTop.js"></script>
    <!-- Smooth scrolling -->
    <script src="../static/js/scrollDown.js"></script>
    <!-- Graph -->
    <script>
        $(window).bind("load", function() {
            renderChart(3);
        });
        function renderChart(range) {
            var ctx = document.getElementById("stockChart").getContext('2d');
            Chart.defaults.global.defaultFontColor = 'white';
            function float2dollar(value){
                return "U$ "+(value).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
            }
            if (range == 3){
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: {{ labels3 | tojson}},
                        datasets: [{
                            defaultFontColor: 'rbg(250,250,250)',
                            label: 'closing price',
                            data: {{ data3 | tojson }},
                            precision: 2,
                            backgroundColor: ['rgba(250, 250, 250, 1.0)'],
                        }]
                    },
                    options: {
                        legend: {
                            display: false,
                            labels: {
                                // This more specific font property overrides the global property
                                defaultFontSize: 18,
                                defaultFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif"
                            }
                        }
                    }
                });
            }
            if (range == 1){
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: {{ labels1 | tojson}},
                        datasets: [{
                            defaultFontColor: 'rbg(250,250,250)',
                            label: 'price',
                            data: {{ data1 | tojson }},
                            precision: 2,
                            backgroundColor: ['rgba(250, 250, 250, 1.0)'],
                        }]
                    },
                    options: {
                        legend: {
                            display: false,
                            labels: {
                                // This more specific font property overrides the global property
                                defaultFontSize: 18,
                                defaultFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif"
                            }
                        }
                    }
                });
            }
            if (range == 365){
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: {{ labelsy | tojson}},
                        datasets: [{
                            defaultFontColor: 'rbg(250,250,250)',
                            label: 'closing price',
                            data: {{ datay | tojson }},
                            precision: 2,
                            backgroundColor: ['rgba(250, 250, 250, 1.0)'],
                        }]
                    },
                    options: {
                        legend: {
                            display: false,
                            labels: {
                                // This more specific font property overrides the global property
                                defaultFontSize: 18,
                                defaultFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif"
                            }
                        }
                    }
                });
            }
        }
        </script>
    </body>
</html>